@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <form method="post">
        <label>UserName</label><input type="text" name="txtUsername" /> <br />
        <label>Password</label><input type="password" name="txtPassword" /><br />
        <button type="submit" name="btLogin">Login</button>
    </form>
</div>
